node_modules
dist
dist-ssr

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

.vercel

*.log

# Local databases
local.db
db
db-wal
auth
auth-wal

# Dev artifacts
*.har
